body{
	background-image: url('anh1.jpg')
}
#wraper{
	margin:center;
}
#left,#right:{
	min-height: 1000px;
}
#left{
	width: 25%;
	float:left;
}
header {
  padding: 5px;
  text-align: center;
  font-size: 30px;
  color: red;
}
#Top{
	padding-left: 150px;
	width: 65%;
	float:left;
}
#bottom{
	width: 50%;
	float:right;
	padding-top: 20px;
}
#middle{
	padding-top: 40px;
	width: 50%;
	float:left;
	background-image: url('logo-uit.png');
	background-repeat: no-repeat;
	background-size: 680px 300px;
	text-align: center;
}
#right{
	width: 20%;
	float: right;
	text-align: center; 
	font-size:200%;
	color: green;
}
#boxTitle{
	border: solid 1px black;
	padding: 10px ;
	text-align: center; 
	color: red;
	background-color: green;
	font-size:200%;
}

#boxTime{
		border: solid 1px black;
}
#Notificate{
	border: solid 1px black;
	padding: 10px ;
	text-align: center; 
	color: red;
	background-color: green;
	font-size:200%;
}

#warning{
	background-color: #1bc9d1;
	border:solid 2px black;
	border-top: none;
	padding:5px;
	text-align: center;
	color: red;
	font-size:150%;
}
#fanMode{
	background-color: #1bc9d1;
	border:solid 2px black;
	border-top: none;
	padding:5px;
	text-align: center;
	color: yellow;
	font-size:150%;
}
#chart_div{
	float: center;
	border-top: none;
	padding-left: 200px;
	padding-right:5px;
	font-size:100%;
}
#lightMode{
	background-color: #1bc9d1;
	border:solid 2px black;
	border-top: none;
	text-align: center;
	color: yellow;
	font-size:150%;
}
#btnLightOn{
	background-color: #0bd44e; 
	text-align: center;
	font-size:120%;
}
#btnLightOff{
	background-color: #d3d622; 
	text-align: center;
	font-size:120%;
}

#btnFanOn{
	background-color: #eb4034; 
	text-align: center;
	font-size:120%;
}
#btnFanOff{
	background-color: #191fc2;
 	text-align: center;
 	font-size:120%;
 }
#sayHi{
	font-family: Helvetica, Arial, Tahoma, sans-serif;
	font-size: 100%;
	color: red; 
	text-align:center;
}
#BUTTON{
	text-align: center;
	padding: 50px;
}
#image{width: 100px; 
	height: 100px;
}
#idTemp{
	background-color: #1bc9d1;
	border:solid 2px black;
	border-top: none;
	padding:5px;
	text-align: center;
	color: blue;
	font-size:150%;
}
#idHumidity{
	background-color: #1bc9d1;
	border:solid 2px black;
	border-top: none;
	padding:5px;
	text-align: center;
	color: blue;
	font-size:150%;
}

